// DarkMode Theme
$DarkModeBackground: #111111;
$DarkModeColor: #f8f9fa;

// LightMode Theme
$LightModeBackground: #ffffff;
$LightModeColor: #1d1d1d;

// Accent Colours
$AccentColor: #4ba3c3;
$AccentColorOne: #7d82b8;
$AccentColorTwo: #3fa7d6;
$AccentColorThree: #cce6f4;
