@import './Styles/Variables.scss';

// Lightmode Starts at line 6
// Darkmode Starts at line --

body {
	height: 100vh;
	width: 100vw;
	text-align: center;
	font-family: 'Edu VIC WA NT Beginner', cursive;

	div#root {
		height: 100%;
		width: 100%;

		div.App {
			width: 100vw;
			height: 100%;
			display: flex;
			flex-direction: column;

			div.LoadingScreenContainer {
				height: 100%;
				width: 100%;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				span {
					height: 50px;
					margin-left: auto;
					margin-right: auto;
				}
				h3 {
					font-size: 30px;
				}
			}

			div.nav-wrapper {
				background-color: $AccentColor;
				input {
					font-family: 'Edu VIC WA NT Beginner', cursive;
					color: $LightModeColor;
				}
			}

			ul#mobile-nav {
				li {
					padding: 20px;
					border-bottom: 1px solid $AccentColor;

					.MenuBarItem {
						font-size: 25px;
					}
				}
			}

			div.HomepageContainer {
				div.HomepageCardHolder {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100vw;
					overflow: wrap;
					div.card {
						margin-left: auto;
						margin-right: auto;
						width: 95%;
						border-radius: 10px;
						border-top-right-radius: 0px;
						margin: 5px;
						margin-top: 10px;
						box-shadow: 1px 1px rgb(165, 165, 165);

						img {
							border-top-left-radius: 15px;
							height: 370px;
							width: auto;
						}

						div.card-content {
							padding-top: 10px;
							padding-bottom: 10px;
						}

						div.card-reveal {
							border: 4px solid $AccentColor;
							border-radius: 10px;
							border-top-right-radius: 0px;

							div.CardDetailsContainer {
								height: 100%;
								width: 100%;

								h3.CardDetailsOption {
									font-size: 35px;
								}
							}
						}
					}
				}
			}
		}
	}
}

body.LightMode {
	background-color: $LightModeBackground;

	h2 {
		color: $LightModeColor;
	}

	ul#mobile-nav {
		li {
			.MenuBarItem {
				color: $LightModeColor;
			}
		}
	}

	div.HomepageContainer {
		a.MenuButton {
			background-color: $AccentColor;
		}
		button.SubMenuButton {
			background-color: $AccentColor;
		}
	}
}
