@import './Styles/Variables.scss';

// Lightmode Starts at line 6
// Darkmode Starts at line --

body {
	height: 100vh;
	width: 100vw;
	text-align: center;
	font-family: 'Edu VIC WA NT Beginner', cursive;

	div#root {
		height: 100%;
		width: 100%;

		div.App {
			width: 100vw;
			height: 100%;
			display: flex;
			flex-direction: column;

			div.nav-wrapper {
				background-color: $AccentColor;
				input {
					font-family: 'Edu VIC WA NT Beginner', cursive;
					color: $LightModeColor;
				}
			}

			ul#mobile-nav {
				li {
					padding: 20px;

					.MenuBarItem {
						font-size: 25px;
					}
				}
			}
		}
	}
}

body.LightMode {
	background-color: $LightModeBackground;

	h2 {
		color: $LightModeColor;
	}

	div.LoadingScreenContainer {
		height: 100%;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		span {
			height: 50px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	div.HomepageContainer {
		a.MenuButton {
			background-color: $AccentColor;
		}
		button.SubMenuButton {
			background-color: $AccentColor;
		}
	}
}
