body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "Edu VIC WA NT Beginner", cursive;
  background-color: #ffffff;
}
body .DataSnapshotButton {
  margin-top: 50px;
  background-color: #3fa7d6;
}
body .material-placeholder img {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
  padding: 20px;
  border: 1px solid red;
}
body div#root {
  height: 100%;
  width: 100%;
}
body div#root div.App {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body div#root div.App h2 {
  color: #1d1d1d;
}
body div#root div.App div.LoadingScreenContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body div#root div.App div.LoadingScreenContainer span {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
body div#root div.App div.LoadingScreenContainer h3 {
  font-size: 30px;
}
body div#root div.App nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000000;
}
body div#root div.App nav div.nav-wrapper {
  background-color: #7d82b8;
}
body div#root div.App nav div.nav-wrapper input {
  font-family: "Edu VIC WA NT Beginner", cursive;
  color: #1d1d1d;
}
body div#root div.App ul#mobile-nav li {
  padding: 20px;
  border-bottom: 1px solid #7d82b8;
}
body div#root div.App ul#mobile-nav li .MenuBarItem {
  font-size: 25px;
  color: #1d1d1d;
}
body div#root div.App a.MenuButton {
  background-color: #7d82b8;
}
body div#root div.App button.SubMenuButton {
  background-color: #7d82b8;
}
body div#root div.App div.HomepageContainer div.HomepageCardHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow: wrap;
}
body div#root div.App div.HomepageContainer div.HomepageCardHolder div.card {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
  margin-top: 10px;
  box-shadow: 3px 3px rgb(165, 165, 165);
}
body div#root div.App div.HomepageContainer div.HomepageCardHolder div.card img {
  height: 370px;
  width: auto;
}
body div#root div.App div.HomepageContainer div.HomepageCardHolder div.card div.card-content {
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}
body div#root div.App div.HomepageContainer div.HomepageCardHolder div.card div.card-reveal {
  border: 4px solid #7d82b8;
  border-radius: 10px;
  overflow: hidden;
}
body div#root div.App div.HomepageContainer div.HomepageCardHolder div.card div.card-reveal div.CardDetailsContainer {
  height: 100%;
  width: 100%;
}
body div#root div.App div.HomepageContainer div.HomepageCardHolder div.card div.card-reveal div.CardDetailsContainer h3.CardDetailsOption {
  font-size: 35px;
}
body div#root div.App div.ProfileContainer {
  width: 100%;
  height: 100%;
}
body div#root div.App div.ProfileContainer ul.tabs {
  height: 56px;
  background-color: #7d82b8;
}
body div#root div.App div.ProfileContainer ul.tabs li {
  color: #fff;
  height: 56px;
}
body div#root div.App div.ProfileContainer ul.tabs li a {
  color: #fff;
}
body div#root div.App div.ProfileContainer ul.tabs li a.active {
  color: #fff;
  border-bottom: 3px solid white;
}
body div#root div.App div.ProfileContainer ul.tabs li.indicator {
  background-color: transparent;
}
body div#root div.App div.ProfileContainer h3 {
  text-align: left;
  margin: 40px;
  margin-left: 10px;
}
body div#root div.App div.ProfileContainer div.row > div > div > div {
  padding: 0px;
  width: 100%;
  margin: 0px;
}
body div#root div.App div.ProfileContainer div.row > div > div > div ul {
  margin: 0px;
  border: 0px;
}
body div#root div.App div.ProfileContainer div.row > div > div > div ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  padding: 20px;
}
body div#root div.App div.ProfileContainer div.row > div > div > div ul li p {
  font-size: 25px;
  margin: 0px;
}
body div#root div.App div.ProfileContainer div.row > div > div > div ul li .switch label input[type=checkbox]:checked + .lever {
  background-color: #7d82b8;
}
body div#root div.App div.ProfileContainer div.row > div > div > div ul li:nth-of-type(odd) {
  background-color: rgba(125, 130, 184, 0.568627451);
  color: #fff;
}
body div#root div.App div.ProfileContainer div.row > div > div > div ul li:nth-of-type(odd) .switch label input[type=checkbox]:checked + .lever {
  background-color: #fff;
}
body div#root div.App div.ProfileContainer div.row > div > div > div ul li:nth-of-type(odd) .switch label input[type=checkbox]:checked + .lever::after {
  background-color: #4ba3c3;
}

div.Dark {
  background-color: #111111;
}/*# sourceMappingURL=App.css.map */